body {
    font-size:42px;
}

nav {
    background-color:#baccaf;
}

header {
    font-size:72px;
}
.panel-heading {
    font-size:85px;
}
img {
    width:125px;
    height:125px;
}
li {
    width:100%;
    text-align:center;
}
li .left {
    display:inline-flex;
    text-align:left;
    width:49%;
}

li .right {
    display:inline-flex;
    width:49%;
}

input{
    display:inline-flex;
}

.search-button, .temp-radio {
    font-size:26px;
}
